.Mui-selected {
    background-color: #285aff9c !important;
    color: white !important;
}

.topbar {
    margin-top: 16px;
    margin-bottom: 24px;
    padding: 20px;

    display: flex;
    align-items: center;
    gap: 16px;

    border-radius: 8px;
    background: linear-gradient(135deg, #e3f2fd, #bbdefb);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.topbar-icon {
    font-size: 34px;  
    color: #1976d2; /* MUI primary color */
}

.topbar-text {
    font-weight: 600;
    color: #1a1a1a;
}


.form-box {
    margin-top: 16px;
    padding: 24px;

    background-color: #ffffff;
    border-radius: 10px;

    box-shadow: 0px 4px 10px rgba(51, 104, 173, 0.767);

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 100%;
    min-height: 200px;
}

.form-area {
    width: 33%;
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
